<!DOCTYPE HTML>
<html>
<head>
	<title>Imaginea Home</title>
	<link href="css/style.css" rel="stylesheet" />
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
	<script src="js/scroll.js"  type="text/javascript" ></script>
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script>
</script> 
<script type="text/javascript" src="http://fast.fonts.com/jsapi/1f3228cb-2b5e-4668-9137-c63df34d92f1.js"></script>
<style id="mti_fontface_1f3228cb-2b5e-4668-9137-c63df34d92f1" type="text/css">
@font-face{
	font-family:"DIN Next W01 Medium";
	src:url("http://fast.fonts.com/d/4bf0ead4-e61b-4992-832b-6ff05828d99f.woff?d44f19a684109620e4841471af90e81876e4447fbd9dcaf33ed27ddb0be7bf67bf1d1b817cb838e94894397783d7429286a1cdabe23d6e58f9a0cb5a686e6fdded0a51fa699d2559195deb11d63ed3bdfdb3309534949012&projectId=1f3228cb-2b5e-4668-9137-c63df34d92f1") format('woff');}
	</style>
	<link id="MonoTypeFontApiFontTracker" type="text/css" rel="stylesheet" href="http://fast.fonts.com/t/1.css?apiType=js&projectid=1f3228cb-2b5e-4668-9137-c63df34d92f1">

</link>
</head>
<body class="landing">
	<section class="top-gap">
		<div class="wrapper-left"></div>
	</section>
	<section class="top-header">
			<div class="wrapper">
			<a href="/"> <img class="logo-img flt-left" src="images/logo.png"></a>
			<ul class="main-nav flt-right">
				<li class="mn-about">
					<a href="/about">About</a>
				</li>
				<li class="mn-services">
					<a href="/services">Services</a>
				</li>
				<li class="mn-resources">
					<a href="/resources">Resources </a>
				</li>
				<li class="mn-technology">
					<a href="/technology">Technology </a>
				</li>
				<li class="mn-contact">
					<a href="/contact">Contact us </a>
				</li>
			</ul>
			<ul class="sub-nav sub-nav-technology">
				<li class="sn-cloud first-li">
					<a href="/technology/Cloud">Cloud</a>
				</li>
				<li class="sn-mobile">
					<a href="/technology/Mobile">Mobile</a>
				</li>
				<li class="sn-social last-li">
					<a href="/technology/Social">Social</a>
				</li>
				<li class="sn-bigdata">
					<a href="/technology/Big-Data">Big Data</a>
				</li>
				<li class="sn-API">
					<a href="/technology/API">API</a>
				</li>

			</ul>
			<ul class="sub-nav sub-nav-about">
				
				<li class="sn-team first-li">
					<a href="/about">About</a>
				</li>
				<li class="sn-contactForm">
					<a href="/about/history">History</a>
				</li>
				<li class="sn-team">
					<a href="/about/team">Team</a>
				</li>
				<li class="sn-careers">
					<a href="/about/careers">Careers</a>
				</li>
				<li class="sn-locations">
					<a href="/contact/locations">Locations</a>
				</li>
				<li class="sn-contactForm">
					<a href="/contact/form">Contact Us</a>
				</li>
				
			</ul>
			<ul class="sub-nav sub-nav-services">
				<li class="sn-stc first-li">
					<a href="/services/Strategy-and-Technology-Consulting"> <label>S</label>trategy &<br/> <label>T</label>echnology<br/> <label>C</label>onsulting</a>
				</li>
				<li class="sn-eps">
					<a href="/services/Emerging-Platform-Solutions"> <label>E</label>merging<br/> <label>P</label>latform<br/> <label>S</label>olutions</a>
				</li>
				<li class="sn-ipm">
					<a href="/services/Innovation-and-Product-Management"> <label>I</label>nnovation &<br/> <label>P</label>roduct<br/> <label>M</label>anagement </a>
				</li>
				<li class="sn-pls">
					<a href="/services/Product-Lifecycle-Services"> <label>P</label>roduct<br/> <label>L</label>ifecycle<br/> <label>S</label>ervices</a>
				</li>
				<li class="sn-tse">
					<a href="/services/Technology-Services-for-the-Enterprise"> <label>T</label>echnology<br/> <label>S</label>ervices for <br/>the <label>E</label>nterprise </a>
				</li>
			</ul>
			</div>
		</section>	
	<section class="camp-banner wrapper">
		<h1 class="camp-header">
			QA Automaton and Mobile:<br>
			Build Apps That Work, Wow and Win!
		</h1>

	</section>
	<div class="wrapper camp-content">
		<section class="cc-left">
			<div class="cc-block-a">
				<p>Mobile is moving too fast for your usual develop, test and launch strategy. Make no mistake - the planning and strategy is important but it should be executed in six weeks not six months. The need for speed, growing customer intolerance for underperforming apps and a strategic necessity to scale and adapt to the changing mobile usage scenarios have put test automation center stage in Mobile app planning. </p>
				<p>Whether you are in the thick of the mobile race - or getting ready for it, making your apps customer and future ready quickly and accurately can set you up for early success. Here's some information that can help you build a robust and scalable program.</p>
			</div>
			<div class="cc-block-b">
				<h2>Is Your QA Program Future-Ready? Take the Stress Test  </h2>
				<p>In dealing with these new set of "necessarily dynamic" app-delivered products or services, it's time to reassess your Test Program capabilities and question if your test strategies are:   </p>


				<div class="stress-test">
					<ul class="dotted">
						<li>Giving you 90% or more regression coverage, at the click of a button.</li>
						<li>Working for you 24/7, executing test codes when, where and how you want them.   </li>
						<li>Reducing memory leaks/crashes and helping you track and improve user ratings in app stores. </li>
						<li>Designed for the long term - eliminating the need to invest in expensive framework and Continuous Integration tools or increasing your team every time you add new features or scale one or more of your applications.

						</li>

					</ul>
					<div class="dotted-rm cc-toggle">Read more</div>
					<ul class="dotted dotted-hidden">
						<li>Giving you multiple SDK (device) support in one shot.</li>


						<li>Enabling you to execute large volumes of test cases (from 800 to 8000) at the click of a button (compare that with industry average of 35 days to run 800 test case via manual testing).  </li>
						<li>Creating a scalable framework that seamlessly adjusts to you user's changing behavior or growing usage requirements. </li>

						<li>Has best in market engineers - skilled across platforms, devices, tools and technologies - who effortlessly adapt to sudden change in plans. Engineers who CAN keep up with: 
							<ul class="dotted-dots">
								<li>&nbsp;&nbsp; Fast paced development cycles of mobile applications with multiple releases per week.</li>
								<li>&nbsp;&nbsp; multiple app technologies and development platforms to support.</li>
								<li>&nbsp;&nbsp; Apps that work across devices, carriers, countries and cultures. </li>
								<li>&nbsp;&nbsp; Consumers who are quick to abandon substandard apps.</li>
							</ul>


						</li>

					</ul>
					<div class="dotted-rl cc-toggle">Read less</div>
				</div>
			</div>

			<div class="cc-block-c">
			<h2>The Dos and Don'ts When Automating Mobile Testing </h2>
			<p>When done right, QA automation is simple, effective and designed to keep you worry-free. But quite often taking some common missteps can leave you with testing program that is frustrating mess of mismanaged expectations, missed deadlines, incompatible platforms, and questionable ROI.  Here are some tips on what you should and should not do.  </p>
			<h2>The Dos</h2>

			<div class="cc-panel">
				<h4>Test, Test and Test for Memory-Related Issues/App Performance <i><span class="cc-more">Read more</span><span class="cc-less">Read less</span></i></h4>
				<p>The most significant performance issues with Mobile applications arise from how they interact with the device memory or vice-versa. A minor mismatch and the application will crash - often multiples times in a day, frustrating the users. For e.g., smartphone users cannot close different applications easily. When they move from chatting on whatsapp to checking a travel app to reading an e-book - they are unintentionally running multiple instances concurrently. This will impact your app performance unless you preemptively tested it for such scenarios. Memory defects testing and app optimization for performance in a variety of memory-usage scenarios is nearly impossible to achieve manually. </p>
			</div>
			<div class="cc-panel">
				<h4> Implement Continuous Integration <i><span class="cc-more">Read more</span><span class="cc-less">Read less</span></i></h4>
				<p>Your test framework should support a Continuous Integration tool - open source or paid. It saves you time and money over the lifespan of the project as you detect and fix problem early and quickly. No more last-minute chaos as you work in "real-time".</p>
			</div>
			<div class="cc-panel">
				<h4> Find out How Much of Your Code is Actually Covered <i><span class="cc-more">Read more</span><span class="cc-less">Read less</span></i></h4>
				<p>In the past-faced development environment of mobile applications, the test coverage you want to achieve is rarely achieved just by adding volumes of test cases. You may write 200 test cases but might still be missing the real case as time-pressures prevent you from running all.  Get an analysis of how much of the code is actually covered and plan ahead. </p>
			</div>
			<div class="cc-panel">
				<h4>Keep Functional Tests Independent<i><span class="cc-more">Read more</span><span class="cc-less">Read less</span></i></h4>
				<p>Accurate functional testing is critical for ensuring your app's functions - ability to login, set preferences, completing transactions, etc.,- work accurately, reliably and securely for the end user. Keep each test independent to avoid getting repeated failures. Every time you test a function, you change the entry condition. The next successive test may fail as it may not have the same entry condition. </p>
			</div>
			<div class="cc-panel">
				<h4>Ensure Test Framework Supports All Available SDKS in the Market, Especially with Android.  <i><span class="cc-more">Read more</span><span class="cc-less">Read less</span></i></h4>
				<p>While important in all cases, SDKs are particularly important when dealing with Android where application versions range widely - from 4.4. to 2.2 - and people use them across different devices.  Your test framework must be capable of working on any of the SDKs. You simply cannot get full multi-device of coverage manually. </p>
			</div>
			<div class="cc-panel">
				<h4>Think About Rotation. <i><span class="cc-more">Read more</span><span class="cc-less">Read less</span></i></h4>
				<p>With handheld devices, user interaction with your application changes every time they move their device- changing the screen rotation from portrait to landscape to vice versa. (+ expand to show the rest) Your test framework must factor in the variety of ways a user can interacts with your application on a mobile device. Apps that are not optimized rotations face several performance issues. </p>
			</div>
		</div>
		<div class="cc-block-d">
			<h2>The Don'ts </h2>
			<div class="cc-panel">
				<h4>Don't Rely on Record and Playback. <i><span class="cc-more">Read more</span><span class="cc-less">Read less</span></i></h4>
				<p>The Record and Playback framework has serious reliability and accuracy problems as it does not perform across platforms. For e.g. in an application rolled out on android, iPhone and iPad - with Record and Playback every time the screen size changes, your parameters change. You'll end up maintaining multiple suites for multiple devices and even then not get proper coverage. Tools like Appium as well are inadequate as your scripts will fail frequently if there is a change in the element parameters like size. It's also a lot more difficult to debug these failures. </p>
			</div>
			<div class="cc-panel">
				<h4>Don't Chase Numbers and Loose Focus on Code Coverage.  <i><span class="cc-more">Read more</span><span class="cc-less">Read less</span></i></h4>
				<p>Often QA leaders are focused on increasing the volume of test cases but overlook how much code coverage these thousands of test cases are actually giving. The focus should be on getting more code coverage with less tests. </p>
			</div>
			<div class="cc-panel">
				<h4>You Cannot and Should Not Automate Everything.  <i><span class="cc-more">Read more</span><span class="cc-less">Read less</span></i></h4>
				<p>When creating an automation strategy, your manual testers and automation engineers should work in tandem. You only want to automate scenarios which are passing at least once. Why waste resources on creating automation code for something that is already failing? </p>
			</div>
			<div class="cc-panel">
				<h4>Don't Keep Automation in a Silo.  <i><span class="cc-more">Read more</span><span class="cc-less">Read less</span></i></h4>
				<p>Do not segregate automation from development and QA. It's inefficient and slows down the rollout. If working in tandem, any changes made by the QA team and developers are immediately visible to automation engineers who can adjust the test code accordingly. </p>
			</div>
			<div class="cc-panel">
				<h4>Don't Underutilize The Skills of Your Automation Team.  <i><span class="cc-more">Read more</span><span class="cc-less">Read less</span></i></h4>
				<p>Usually automation engineers just report on failures but are not allowed to or discouraged from logging defects. Give them access to defects tracking system and allow them to suggest improvements. </p>
			</div>
			<div class="cc-panel">
				<h4>Don't have an Anti-Automation Branching Strategy.  <i><span class="cc-more">Read more</span><span class="cc-less">Read less</span></i></h4>
				<p>Often the app is developed on a single branch but the development team branches out with the addition of next features without considering how it will impact QA automation. When automating in such cases you have source control issues making it very difficult to achieve desired results. </p>
			</div>
</div>


			<h2>Is You QA Program Future-Ready? Take the Stress Test</h2>
			<p>A mobile application company focused on creating applications for healthcare providers.</p>


			<div class="cc-panel ccp-clear">
<div class="cc-block-e">
				<h4>The Issue: <i><span class="cc-more">Read More</span><span class="cc-less">Read less</span></i></h4>
				<p>The Company launched an app that helped physicians access updated drug and diagnostic information at point of care. </p>
				<ul class="dotted">
					<li>User adoption for the app lagged significantly as 1 in 3 users reported the application crashed after minimal use. Users reported up to 17 crashes in a day and the app's user rating in the Apple store hit rock bottom. </li>
				</ul>
				<p>After a deep root analysis we determined </p>
				<ul class="dotted">
					<li>The problem was arose from how the application performed in response to user's rotating their phone which changed the screen orientation (portrait to landscape and vice versa).</li>
					<li>Another issue was specifically with ios users. On ios, users accessing multiple applications at the same time was causing memory overload and leading this particular application to crash.  </li>
				</ul>
			</div>
		</div><div class="cc-block-e">
			<div class="cc-panel ccp-clear">
				<h4>The Solution:<i><span class="cc-more">Read More</span><span class="cc-less">Read less</span></i></h4>
				<p>After a deep root analysis we determined that the problem was with how the application performed in response to user's rotating their phone that changed the orientation of the screen. Another issue was specifically with ios users. On ios, users accessing multiple applications at the same time was causing memory overload and leading this particular application to crash.  
					We created automated test suite with rotation enabled testing capabilities for the client. The suite tested the app for random rotation (and if needed, could be run without rotation as well) and we worked with them closely to resolve the memory related issues. </p>
				</div>
			</div><div class="cc-block-e">
				<div class="cc-panel ccp-clear">
					<h4>The Impact:<i><span class="cc-more">Read More</span><span class="cc-less">Read less</span></i></h4>
					<p>After the detailed exercise, only 1 in 11 customers reported a crash and the number of crashes per user came down from 17 to 3. Their app store rating also went up to 3 stars out of 5 after the new release. 
						Eventually, within one year of engagement with us all regression issues were caught and resolved. We automated 2000+ test case for them, enabling them run 3 different release in parallel (a huge upgrade from their earlier track record of 1 release in 3 months).</p>
					</div>
				</section>
				<section class="cc-right">
					<p><b>Imaginea's Product Lifecycle Services</b> can engage with you at any stage of the process, from consulting and ideation, through product development and implementation.</p>
					<a href="mailto:cloud@imaginea.com?subject=Imaginea's Product Lifecycle Services">
<button class="btn-b orange general-contact flt-left"> Email Us</button>
</a>

<p>or call us at <b></b>+1-866-660-6533</p>
				</section>
			</div>

		</body>
		</html>
