<IfModule mod_rewrite.c>
    Options -MultiViews
    RewriteEngine On
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_URI} !^/QA-Automation/
    RewriteCond %{REQUEST_URI} !^/asset/
    RewriteCond %{REQUEST_URI} !^/mobile-app-android/
    RewriteCond %{REQUEST_URI} !^/android-social-shopping/
    RewriteCond %{REQUEST_URI} !^/CPQ-Product-Development/
    RewriteCond %{REQUEST_URI} !^/Cloud-Operations-Management/
    RewriteCond %{REQUEST_URI} !^/Enterprise-Mobility-Management/
    RewriteCond %{REQUEST_URI} !^/mobility/insurance/

    #RewriteRule ^ index.php index.html [L]
    RewriteRule ^ index.php  [L]
</IfModule>
